<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: #333;
            color: #ccc;
        }
    </style>
</head>
<body>
    <h1>Bienvenido, es hora de iniciar sesion</h1>
    <form action="http://localhost:3000/inicio" method="post">
        <label>Nombre</label><br>
        <input name="nombre" type="text"><br>
        <label>contraseña</label><br>
        <input name="contraseña" type="password"><br>
        <button type="submit">verificar</button>
    </form>

    <>hola como estas <% resultado.forEach(elemento=>{ %>
        elemento.nombre!
        <% }) %>
    </p>
</body>
</html>